<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-left">
                <p class="small ">© 2014 Kiwifish.Inc</p>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline small text-center">
                    <li><a href="#">关于墨客</a> </li>
                    <li><a href="#">公司介绍</a> </li>
                    <li><a href="#">联系我们</a> </li>
{#                         <li><a href="#">高级账户</a> </li>
                        <li><a href="#">企业版</a> </li> #}
                </ul>
            </div>
            <div class="col-lg-3 text-right">
                <p class="small">京ICP备13024004号</p>
            </div>
        </div>
    </div>
</footer>