<footer>
      <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <span class="icon-m-mo"></span><span class="icon-m-oker"></span>
          <p class="small ">We are a community of people that want to learn from each other by collecting and sharing the knowledge from the web.<br>
          Be Good Get Better</p>
        </div>
        <div class="col-lg-3">dadsa</div>
        <div class="col-lg-3">dadsa</div>
        <div class="col-lg-3">dadsa</div>
      </div>
  </div>
</footer>