<!--header start-->
	<header>
        <div class="navbar navbar-default navbar-fixed-top m-navbar-header" role="navigation">
        	<h1>墨客 beta</h1>
        	<div class="m-saerch-wrapper pull-left">
				<ul class="nav nav-pills">
					<li><a href="#"><img src="/assets/img/default/search.png"></a></li>
					<li><a href="#">墨客文库</a></li>
				</ul>
			</div>
        	<div>
            <a class="m-logo" href="#"></a>
			</div>
        	<div class="m-user pull-right">
				<ul class="nav nav-pills">
					<li><a href="#"><img src="/assets/img/default/avatar-default-medium.png"></a></li>
					<li><a href="#">登录</a></li>
					<li><a href="#">注册</a></li>
				</ul>
           </div>
        </div>    
    </header>
	<!--header end-->