<!--header start-->
    <header>
        <div id="top-nav" class="navbar navbar-fixed-top" role="navigation">
            <h1 id="mook-Logo">
                <a href="/">墨客beta</a>
            </h1>
            <ul class="nav nav-pills">
                <li class="pull-left m-search">
                    <form action="/search-result.html" method="get">
                        <span class="icon-m-search"></span>
                        <input type="text" value="" name="">
                    </form>
                </li>
                <li class="pull-left">
                    <a class="text" href="/flows">墨客文库</a>
                </li>
                {% if app %}
                <li class="pull-right">
                    <a class="text" href="#" id="id_profile" data-toggle="dropdown">
                        <span class="m-avatar">
                            <img src="{{ app.cover_small }}">
                        </span>
                    </a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="id_profile">
                        <a role="menuitem" tabindex="-1" href="/u/{{ app.username }}">
                            <span class="icon-m-user"></span>
                            我的课程
                        </a>
                        <a role="menuitem" tabindex="-1" href="/settings">
                            <span class="icon-m-cog"></span>
                            个人设置
                        </a>
                        <a role="menuitem" tabindex="-1" href="/logout">
                            退出
                        </a>
                    </div>
                </li>
                <li class="pull-right dropdown">
                    <a href="#" id="id_add" data-toggle="dropdown">
                        <span class="icon-m-add-mook"></span>
                    </a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="id_add">
                        <a role="menuitem" tabindex="-1" href="/create">
                            <span class="icon-m-cog"></span>
                            创建课程
                        </a>
                        <a role="menuitem" tabindex="-1" href="#">
                            <span class="icon-m-cog"></span>
                            添加章节
                        </a>
  {#                       <a role="menuitem" tabindex="-1" href="#">
                            工具插件
                        </a> #}
                    </div>
                </li>
                {% else %}
                <li class="pull-right"><a class="text" data-url="/login?ajax=true" data-toggle="modal" href="#login" data-target="#modal">登录</a></li>
                {# <li class="pull-right"><a class="text accounts" href="javascript:void(0);" data-url="/register" data-reveal-id="register" data-animation="fade"  data-toggle="modal" data-target="#id_register">注册</a></li> #}
                {% endif %}
            </ul>
        </div>
    </header>
    <!--header end-->