<!--  navbar  -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <a class="logo" href="#"></a>
            <!-- 搜索 -->
    </div>
</div>    
    <!--  navbar end  -->