{% import "index/macro.html.twig" as web_macro %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="zh-cn"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="{% block keywords %}墨客,51mook,mook,P2P学习,知识社群,在线教育,数字阅读{% endblock %}" />
  <meta name="description" content="{% block description %}墨客是一个专注社会化学习的社区，给学习者提供网络资料采集和互相交流的服务，覆盖创业、管理、编程、设计、营销等诸多方面。{% endblock %}" />
  <title>{% block title %}{{ title }} | 墨客{% endblock %}</title>
  {% block stylesheets %}
    <link href='http://fonts.useso.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext' rel='stylesheet'>
    <link rel="stylesheet"  href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" media="screen" href="/assets/css/bootstrap-extends.css" />
    <link rel="stylesheet" media="screen" href="/web/css/common.css" />
    <link rel="stylesheet" media="screen" href="/web/css/style.css" />
    <link rel="stylesheet" media="screen" href="/web/css/svg/svg-icon-style.css" />
    <!--[if lt IE 8]>
      <link href="/assets/css/oldie.css" rel="stylesheet">
    <![endif]-->
  {% endblock %}
  <!--[if lt IE 9]>
    <script src="/assets/libs/html5shiv.js"></script>
  <![endif]-->

  <!--[if IE 8]>
    <script src="/assets/libs/respond.min.js"></script>
  <![endif]-->

  {% block head_scripts %}{% endblock %}

</head>
<body>
{% block body %}
  {% include 'index/header.html.twig' %}
  {% block content %}{% endblock %}
  {% include 'index/footer.html.twig' %}
  {% block bottom %}{% endblock %}
  <div id="modal" class="modal fade"></div>
{% endblock %}

{% include 'base/script_boot.html.twig' with {script_main:'/web/js/app.js'}%}

</body>
</html>