{% extends 'base/bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}

{% block title %}设置用户组{% endblock %}
{% block body %}

<form id="user-roles-form" class="form-horizontal" method="post" action="">
<div class="radios">
	{% if roles %}
	{% for role in roles %}
	{% if role.id > 2 %}
	<div class="radio">
  		<label class="checkbox-inline"><input type="radio" name="roles"  value="{{ role.id }}" {% if user.role_id == role.id %}checked{% endif %}> {{role.name}}</label>
	</div>
	{% endif %}
	{% endfor %}
	{% endif %}
</div>
	<input type="hidden" name='uid' value='{{ user.id }}'>
	<input type="hidden" name='type' value='roles'>
	<input type="hidden" name="_csrf_token" value="">
</form>
{% endblock %}


{% block footer %}
  <button class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#user-roles-form">保存</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>
  <script>app.load('user/roles-modal')</script>
{% endblock %}