{% if app %}
{% if owner %}
<div class="modal-dialog m-modal-dialog">
    <div class="modal-content">
        <div class="modal-header m-modal-header text-center">
            <h4 class="modal-title" id="myModalLabel">编辑章节</h4>
        </div>
        <div class="modal-body m-modal-body">
            <form id="article-edit-form" class="form-horizontal" method="post" role="form" action="/course/check/{{ menu.cid }}/{{ menu.ccid }}/article">
                <p>
                <label for="article-title">标题：</label>
                <input id="article-title" type="text" name="title" maxlength="256" value="{{ menu.title }}">
                </p>
                <p><label for="article-summay">说明：</label>
                <textarea id="article-summay" rows="5"  name="summary" cols="40">{{ menu.summary }}</textarea>
                </p>
            </form>
        </div>
        <div class="modal-footer m-modal-footer">
            <p class="pull-left">
                <a href="#" data-dismiss="modal" aria-hidden="true">取消</a>
            </p>
            <button class="btn" data-toggle="form-submit" data-target="#article-edit-form">确 定</button>
        </div>
    </div><!-- /.modal-content -->
</div>
{% endif %}
{% endif %}
<script type="text/javascript"> app.load('course/chapters-article-edit-modal') </script>