<!--delete  start-->
    <!-- Modal -->
    {% if app %}
    {% if course %}
    <form id="course-delete-form" class="form-horizontal" method="post" role="form" action="">
        <div class="modal fade" id="delete_course" tabindex="-1" role="dialog" aria-labelledby="delete_course" aria-hidden="true">
            <div class="modal-dialog m-modal-dialog">
                <div class="modal-content">
                    <div class="modal-header m-modal-header text-center">
                        <a href=""><h4 class="modal-title" id="ChangelEmailLabel">删除</h4></a>
                    </div>
                    <div class="modal-body m-modal-body">
                        <p class="text-center">你确认想要删除<br><br><b>"{{ course.title }}"</b>？</p>
                    </div>
                    <div class="modal-footer m-modal-footer">
                        <span class="pull-left"><a href="#" data-dismiss="modal" aria-hidden="true">取消</a></span>
                        <button href="#" class="btn">确 定</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </form>
    {% endif %}
    {% endif %}
    <!--delete  ends-->