<!--header start-->


    <header>
        <div id="top-nav" class="navbar navbar-fixed-top reading" role="navigation">
            <h1 id="mook-Logo">
                <a href="/">墨客beta</a>
            </h1>
            <ul class="nav nav-pills">
                <li class="pull-left">
                    <a class="icon" href="/course/{{ course.cid }}/{{ course.ptitle|url_encode }}"><span class="icon-m-return-back"></span></a>
                </li>
                {% if app %}
                <li class="pull-right">
                    <a class="icon" href="{{ article.url }}"><span class="icon-m-globe"></span></a>
                </li>
                {% else %}
                <li class="pull-right"><a class="text accounts" href="#login" data-url="/login?ajax=true" data-toggle="modal" data-target="#modal">登录</a></li>
                <li class="pull-right"><a class="text accounts" href="#register" data-url="/register?ajax=true" data-toggle="modal" data-target="#modal">注册</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
	<!--header end-->