{% extends 'index/layout.html.twig' %}

{% block keywords %}{% endblock %}
{% block description %}{% endblock %}

{% block body %}
  {% include 'index/course/header.html.twig' %}
  {% block content %}{% endblock %}
  {% block bottom %}{% endblock %}
  <div id="modal" class="modal"></div>
{% endblock %}