{% extends 'index/layout.html.twig' %}

{% block keywords %}{% endblock %}
{% block description %}{% endblock %}

{% block body %}
<div id="uber-wrap" class="m-default-view">
  <div class="container">
    <div class="outer-box">
        <div class="inner-box">
          <h1 id="logo"><a>墨客</a></h1>
          <div id="clean-login">
          <h2 class="text-center">注册</h2>
           <form id="register-form" class="form-horizontal" method="post" action="/register">
            <ul class="social-login">
              <li><a class="btn social"  href="#">
                <span class="color-sina"><span class="icon-m-weibo"></span></span>使用微博登录
              </a></li>
              <li><a class="btn social" href="#">
                <span class="color-weixin"><span class="icon-m-weixin"></span></span>使用微信登录
              </a></li>
              <li><a class="btn social"  href="#">
                <span class="color-lin"><span class="icon-m-linked-in"></span></span>使用 Linked in 登录
              </a></li>
              <li><a class="btn social"  href="#">
                <span class="color-qq"><span class="icon-m-qq"></span></span>使用QQ登录
              </a></li>
            </ul>
            <p class="or"><span>OR</span></p>
            {% if error %}
            <span class="m-error" style="display:block;">{{ error.message }}</span>
            {% endif %}
            <div class="form-group form-group-box">
                <label for="id_email" >E-mail：</label>
                <input class="form-control" id="id_email" type="email" name="email" tabindex="1" maxlength="256">
                <p class="help-block"></p>
            </div>
            <div class="form-group form-group-box">
                <label for="id_password" >密码：</label>
                <input class="form-control" id="id_password" type="password" name="password" tabindex="2" maxlength="256">
                <p class="help-block"></p>
            </div>
            <div class="form-group form-group-box">
                <label for="id_confirmpassword" >再次输入密码：</label>
                <input class="form-control" id="id_confirmpassword" type="password" name="confirmpassword" tabindex="2" maxlength="256">
                <p class="help-block"></p>
            </div>
            <div class="form-group form-group-box">
                <label for="id_tos">
                <input id="id_tos" type="checkbox" name="tos"/>我已同意
                    <a target="_blank" href="#"> 墨客服务</a> 和 <a target="_blank" href="#">隐私政策</a>.
                </label>
                <p class="help-block"></p>
            </div>
            <div class="modal-footer m-modal-footer">
              <span class="pull-left"><a href="/login">已有帐号？<b>点击登录</b></a></span>
              <button type="submit" class="btn">注 册</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'index/footer.html.twig' %}
  {% block bottom %}{% endblock %}
  <div id="modal" class="modal"></div>
{% endblock %}

{% set script_controller = 'auth/register' %}