<!--header start-->
    <header id="page-home">
        <div id="top-nav" class="navbar navbar-fixed-top show" role="navigation">
            <h1 id="mook-Logo">
                <a href="/">墨客beta</a>
            </h1>
            <ul class="nav nav-pills">
                <li class="pull-left">
                    <a class="text" href="/flows">知识库</a>
                </li>
{#                 <li class="pull-right"><a class="text accounts" data-url="/register?ajax=true" data-toggle="modal" href="#register" data-target="#modal">注册</a>
                </li> #}
                <li class="pull-right"><a class="text accounts" data-url="/login?ajax=true" data-toggle="modal" href="#login" data-target="#modal">登录</a>
                </li>
            </ul>
        </div>
    </header>
    <!--header end-->