<!--header start-->
    <header id="page-home">
        <div id="top-nav" class="navbar navbar-fixed-top show" role="navigation">
            <h1 id="mook-Logo">
                <a href="/">Mook</a>
            </h1>
            <ul class="nav nav-pills">
                <li class="pull-left">
                    <a class="text" href="/flows">墨客文库</a>
                </li>
                <li class="pull-right"><a class="text" data-url="/login?ajax=true" data-toggle="modal" href="#login" data-target="#modal">登录</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->