{% extends 'index/index/layout.html.twig' %}
{% block content %}

<div class="container">

    <!-- 欢迎词面板 -->
    <div class="panel panel-default">
        <div class="panel-body">
            <p>你要想得新意思吧？请去读旧书；你要找旧的见解吧？请你看新出版的。——<span>Lord Litton </span></p>
        </div>
    </div>

<!-- mook 列表 start -->
    <!-- row start -->
    {% for value in books %}
    <div class="row">
        {% for book in value %}
        <div class="col-6 col-md-3">
            <div class="thumbnail">
                <div class="cover-container">
                    <a href="article-list.html">
            <div class="hovermaskwrapper">
              <div class="hovermask"></div>
            </div>
            <img data-src="holder.js/300x200" alt="..." src="{{ book.cover|default('/assets/img/default/cover4.png') }}" class="img-rounded">
          </a>
        </div>
              <div class="caption">
          <h4><a href="#">{{ book.title }}</a></h4>
          <div class="media">
            <a class="pull-left" href="#"><img class="media-object img-rounded avatar-small" src="{{ book.usercover|default('/assets/img/default/avatar.png') }}" alt="Author"></a>
            <div class="media-body">
              <h6 class="media-heading"><a href="#">{{ book.username }}</a></h6>
            </div>
          </div>
        </div>                
        </div>
      </div>
      {% endfor %}
      </div>
    {% endfor %}
</div>
{% endblock %}