{% extends 'index/index/layout.html.twig' %}
{% block content %}


<!--unlogin-lgimg-container start-->
      <div class="m-hompage-unlogin-wrapper">
      <div class="m-hompage-unlogin-overlay">
        <div class="m-overlay-unlogin-row">
          <div class="text-center">
            <h1><span class="icon-m-mo"></span><span class="icon-m-oker"></span></h1>
            <h1>叙述真实的中国故事</h1>
                        <div class="btn-box">
                            <button type="button" class="btn block" data-toggle="modal" data-target="#id_login">加入墨客</button>
                        </div>
          </div>
        </div>
      </div>
    </div>
  <!--unlogin-lgimg-container end-->

<!--course-list start-->
<section id="m-featured-home">
  <div class="container m-index-covers-wrapper">
    <div class="row">
      <h2 class="col-lg-12">热门</h2>
      {% for course in courses %}
      <div class="col-lg-3 col-sm-4 col-md-3">
        <div class="m-book-cell">                                                    
            <div class="m-book-cover m-book-cover-large" style="background-image:url({{ course.cover }})">
              <a href="#">
                <hgroup>
                  <h3>{{ course.title }}</h3>
                  <img class="m-avatar" src="{{ course.usercover }}">
                  <h4>{{ course.username }}</h4>
                </hgroup></a>
          </div></div></div>
      {% endfor %}
    </div>
  </div>
</section>

    <section id="m-testimonials" >
      <div class="container m-index-author-wrapper">
      <div class="row">
        <h2 class="col-lg-12 text-center">Never Lose Your Passion</h2>
        <div class="col-lg-6">
          <div>
                    <a class="m-avatar m-index-avatar" href="#"><img src="/web/img/default/homly.jpg"></a>
                    <p>资历一无是处，一个产品可能做了几年，十几年，结果注定是起了个大早，赶了个晚集。  </p>
                    <p class="small">— <a href="#">Homly Cheung</a></p>
          </div>                         
        </div>
        <div class="col-lg-6">
          <div>
                    <a class="m-avatar m-index-avatar" href="#"><img src="/web/img/default/cony_sun.jpg"></a>
                    <p>脚踩地，走起！ </p>
                    <p class="small">— <a href="#">Cony_sun</a></p>
          </div>                         
        </div>
        <div class="col-lg-6">
          <div>
                    <a class="m-avatar m-index-avatar" href="#"><img src="/web/img/default/jess.jpg"></a>
                    <p>兔子 兔子～～  </p>
                    <p class="small">— <a href="#">jess</a></p>
          </div>                         
        </div>
        <div class="col-lg-6">
          <div>
                    <a class="m-avatar m-index-avatar" href="#"><img src="/web/img/default/scott.jpg"></a>
                    <p>你与我同饮同欢乐同相爱同戴花环； 我疯狂时你疯狂，我清醒时你清醒。</p>
                    <p class="small">— <a href="#">ScottChyi</a></p>
          </div>                         
        </div>
      </div>
    </div>
    </section>
    <section id="home-signup">
      <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="m-join-now">
            <button type="button" class="btn pull-right" data-toggle="modal" data-target="#id_login">加入墨客</button>
            <h2 class="pull-left">Let's learn from each other.</h2>
          </div>
        </div>
      </div>
    </div>
    </section>
{% endblock %}