{% extends 'index/layout.html.twig' %}

{% block keywords %}{% endblock %}
{% block description %}{% endblock %}

{% block body %}
  {% include 'index/index/header.html.twig' %}
  {% block content %}{% endblock %}
  {% include 'index/footer.html.twig' %}
  {% block bottom %}{% endblock %}
  <div id="modal" class="modal"></div>
{% endblock %}

{% set bodyClass = 'homepage' %}
{% set script_controller = 'index' %}