{% extends 'index/layout.html.twig' %}

{% block body %}
  {% include 'index/index/header.html.twig' %}
  {% block content %}{% endblock %}
  {% include 'index/footer.html.twig' %}
  {% block bottom %}{% endblock %}
  <div id="modal" class="modal fade"></div>
{% endblock %}