<!-- sign up start-->
    <!-- Modal -->
    <form id="register-form" role="form" action="/register" method="post" novalidate="novalidate" data-widget-cid="widget-0">
       <div id="id_register" class="modal fade in" aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" style="display: block;">
            <div class="modal-dialog m-modal-dialog">
                <div class="modal-content">
                    <div class="modal-header m-modal-header text-center">
                        <h4 class="modal-title" id="myModalLabel">加入墨客</h4>
                    </div>
                    <div class="modal-body m-modal-body">
                        <ul class="social-login">
                            <li>
                                <a class="btn social"  href="#">
                                    <span class="color-sina">
                                        <span class="icon-m-weibo"></span>
                                    </span>
                                    使用微博登录
                                </a>
                            </li>
                            <li>
                                <a class="btn social" href="#">
                                    <span class="color-weixin">
                                        <span class="icon-m-weixin"></span>
                                    </span>
                                    使用微信登录
                                </a>
                            </li>
                            <li>
                                <a class="btn social"  href="#">
                                    <span class="color-lin">
                                        <span class="icon-m-linked-in"></span>
                                    </span>
                                    使用 Linked in 登录
                                </a>
                            </li>
                            <li>
                                <a class="btn social"  href="#">
                                    <span class="color-qq">
                                        <span class="icon-m-qq"></span>
                                    </span>
                                    使用QQ登录
                                </a>
                            </li>

                        </ul>
                        <p class="or">
                            <span>OR</span>
                        </p>
                        <p>
                            <label for="id_username">用户名：</label>
                            <input id="id_username" type="text" name="id_username" maxlength="30">
                        </p>
                        <p>
                            <label for="id_email">E-mail：</label>
                            <input id="id_email" type="email" name="email" maxlength="256">
                        </p>
                        <p>
                            <label for="id_password1">密码：</label>
                            <input id="id_password1" type="password" name="password1">
                        </p>
                        <p class="checkbox">
                            <label for="id_tos">
                                <input id="id_tos" type="checkbox" name="tos">
                                I agree to the
                                <a target="_blank" href="#">terms of service</a>
                                and
                                <a target="_blank" href="#">privacy policy</a>
                                .
                            </label>
                        </p>
                    </div>
                    <div class="modal-footer m-modal-footer">
                        <span class="pull-left"><a href="#">已有帐号？<b>点击登录</b></a></span>
                        <a href="#" class="btn">确 定</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </form>
    <!-- sign up end -->