@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?5gr4jd');
	src:url('fonts/icomoon.eot?#iefix5gr4jd') format('embedded-opentype'),
		url('fonts/icomoon.woff?5gr4jd') format('woff'),
		url('fonts/icomoon.ttf?5gr4jd') format('truetype'),
		url('fonts/icomoon.svg?5gr4jd#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-m-"], [class*=" icon-m-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-m-add-mook:before {
	content: "\e616";
}
.icon-m-linked-in:before {
	content: "\e623";
}
.icon-m-view-library:before {
	content: "\e612";
}
.icon-m-yes:before {
	content: "\e615";
}
.icon-m-mook-logo-normal:before {
	content: "\e614";
}
.icon-m-mook-logo:before {
	content: "\e60d";
}
.icon-m-oker:before {
	content: "\e607";
}
.icon-m-mo:before {
	content: "\e613";
}
.icon-m-heart-like:before {
	content: "\e606";
}
.icon-m-eyes:before {
	content: "\e611";
}
.icon-m-user-normal-photo:before {
	content: "\e60f";
}
.icon-m-user-background:before {
	content: "\e610";
}
.icon-m-article-cata:before {
	content: "\e60e";
}
.icon-m-catalog:before {
	content: "\e609";
}
.icon-m-arrow-down:before {
	content: "\e60c";
}
.icon-m-weixin:before {
	content: "\e600";
}
.icon-m-weibo:before {
	content: "\e601";
}
.icon-m-search:before {
	content: "\e602";
}
.icon-m-return-back:before {
	content: "\e603";
}
.icon-m-next-article:before {
	content: "\e604";
}
.icon-m-more:before {
	content: "\e605";
}
.icon-m-close:before {
	content: "\e608";
}
.icon-m-arrow-right:before {
	content: "\e60a";
}
.icon-m-arrow-left:before {
	content: "\e60b";
}
.icon-m-play:before {
	content: "\e61e";
}
.icon-m-envelope:before {
	content: "\e618";
}
.icon-m-user:before {
	content: "\e626";
}
.icon-m-pencil:before {
	content: "\e617";
}
.icon-m-credit:before {
	content: "\e619";
}
.icon-m-lock:before {
	content: "\e61b";
}
.icon-m-cog:before {
	content: "\e61c";
}
.icon-m-remove:before {
	content: "\e625";
}
.icon-m-globe:before {
	content: "\e61d";
}
.icon-m-link:before {
	content: "\e61a";
}
.icon-m-radio-checked:before {
	content: "\e61f";
}
.icon-m-radio-unchecked:before {
	content: "\e620";
}
.icon-m-facebook:before {
	content: "\e621";
}
.icon-m-twitter:before {
	content: "\e622";
}
.icon-m-qq:before {
	content: "\e624";
}
